.vs/slnx.sqlite-journal

.vs/slnx.sqlite

Unity Project/Library/Artifacts/07/

Unity Project/Library/Artifacts/0d/

Unity Project/Library/Artifacts/f6/

Unity Project/Library/Artifacts/f0/

Unity Project/Library/Artifacts/0f/

Unity Project/Library/Artifacts/12/

Unity Project/Library/Artifacts/14/

Unity Project/Library/

Unity Project/Logs/

*.cache
Unity Project/UserSettings/

*.meta
